@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script src="~/js/Supplier.js"></script>
    <script src="~/Scripts/jquery.form.js" type="text/javascript"></script>
</head>
<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">销售合同创建</a></li>
            <li><a href="#">新增合同信息</a></li>
        </ul>
    </div>
    <button class="btn btn-primary" id="info" style="margin-left:110px">新增客户信息</button>
    <form class="layui-form" id="form-article-add" style="margin-top:20px">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称：</label>
            <div class="layui-input-block">
                <select name="CuName" id="Category"  lay-search=""><option value=""></option></select>               
            </div>         
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同编号：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="CuNumber" placeholder="请输入订单编号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同金额：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="Money" id="Money" placeholder="请输入合同金额" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否安装：</label>
            <div class="layui-input-block">
                <span class="select-box">
                    <select name="IfInstall" class="select" id="IfInstall">
                        <option value="是" selected="selected">是</option>
                        <option value="否">否</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否含税：</label>
            <div class="layui-input-block">
                <span class="select-box">
                    <select name="IfIncludeTax" class="select" id="IfIncludeTax">
                        <option value="是" selected="selected">是</option>
                        <option value="否">否</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签订日期：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="DateOfSign" autocomplete="off" class="layui-input" onfocus="WdatePicker()">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否运输：</label>
            <div class="layui-input-block">
                <span class="select-box">
                    <select name="IfTransport" class="select" id="IfTransport">
                        <option value="是" selected="selected">是</option>
                        <option value="否">否</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订金金额：</label>
            <div class="layui-input-block" disabled>
                <input type="text" lay-verify="required" name="DepositAmount" id="DepositAmount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">发货收款金额：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="DeliveryAmount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">安装前金额：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="InstallationAmount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验收金额：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="AcceptanceAmount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">质保金额：</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="QualityAssuranceAmount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交期：</label>
            <div class="layui-input-block">
                <textarea lay-verify="required" name="SendDate" autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">违约条件：</label>
            <div class="layui-input-block">
                <textarea lay-verify="required" name="weiyuetiaojian" autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同总结：</label>
            <div class="layui-input-block">
                <textarea lay-verify="required" name="CZongJie" autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button  class="btn btn-primary radius" onclick="sub()">保存</button>
                @*<button class="layui-btn" onclick="sub()" style="margin-left:100px">保存</button>*@    
                @*<button onclick="returns()" class="btn btn-default radius" id="cancle" type="button" style="margin-left:100px;">&nbsp;&nbsp;返回&nbsp;&nbsp;<i hidden="hidden" id="u">/Home/SalesCreation</i></button>*@         
            </div>
        </div>
     
    </form>
 
    <script>
        $(function () {
            if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
            $("#Money").blur(function () {
                var dea = $("#DepositAmount").val();
                var money = $("#Money").val();
                money = parseInt(money);
                dea = parseInt(dea);
                var sd = money * 0.3;
               $("#DepositAmount").val(sd);
            });
            $("#info").click(function () {               
                var url = "/Home/WriteCuName";
                var index = layer.open({
                    type: 2,
                    content: url,
                    title: "新增客户信息",
                    maxmin: true,
                    end: function () {
                        location.reload();
                    }
                });
                layer.full(index);
            });
            layui.use(['table', 'layer', 'form'], function () {
                var table = layui.table, layer = layui.layer
                , form = layui.form;
                $.ajax({
                    type: "POST",
                    url: '/Home/name',
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            var list = data["data"];
                            $.each(list, function (i, result) {
                                $('#Category').append('<option>' + result.CustomerName + '</option>');
                            });
                            form.render();
                        }
                    }
                });0

            });
        });
        function sub() {
            $("#form-article-add").ajaxSubmit({
                url: "@Url.Action("CwAdd", "Home")",
                data: { name: localStorage.sitename},
                type: "post",
                dataType:"text",
                success: function (data) {
                    if (data == "true") {
                        alert("插入成功");
                        //layer.closeAll();
                    } else if (data == "false") {
                        alert("插入失败");
                    } else if (data == "two") {
                        alert("合同编号不能重复!");
                    }
                },
                error: function (aa) {
                    alert(aa);
                }
            });
        }
        function returns() {
            window.parent.document.getElementById("rightframe").src = "/Home/SalesCreation";
        }
    </script>
</body>

</html>
