@{
    Layout = null;
}

<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/css/style.css" />
    <title></title>
</head>
<body>

    <article class="page-container">
        <form class="form form-horizontal" id="form-article-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品规格：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex2" name="tex2"><i></i>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>要求速度：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex3" name="tex3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电气要求：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex4" name="tex4">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工件主要材质：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex5" name="tex5">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工件重量：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex6" name="tex6">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>滚筒直径：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex7" name="tex7">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>滚筒表面处理形式：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex8" name="tex8">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>数量：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex9" name="tex9">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否动力：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                        <select name="select" class="select" id="select">
                            <option value="0">动力</option>
                            <option value="1">无动力</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex10" name="tex10">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主梁材料：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex11" name="tex11">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>满负荷载重：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex12" name="tex12">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工作场所：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex13" name="tex13">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工件最小和最大外形尺寸：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex14" name="tex14">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工件来料输送方式：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex15" name="tex15">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>滚筒材质：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex16" name="tex16">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>滚筒输送形式：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex17" name="tex17">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>单位：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="tex18" name="tex18">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>工件重量：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" id="tex19" name="tex19" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>设计截止日期：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" onfocus="WdatePicker()" id="tex20" name="tex20" class="input-text Wdate">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onclick="" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>保存</button>
                </div>
            </div>
        </form>
    </article>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="~/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <script type="text/javascript" src="~/lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="~/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="~/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

            //表单验证
            $("#form-article-add").validate({
                rules: {
                    tex2: {
                        required: true,
                    },
                    tex9: {
                        required: true,
                    },
                    tex10: {
                        required: true,
                    },
                    tex18: {
                        required: true,
                    },
                    author: {
                        required: true,
                    },
                    sources: {
                        required: true,
                    },
                    allowcomments: {
                        required: true,
                    },
                    commentdatemin: {
                        required: true,
                    },
                    commentdatemax: {
                        required: true,
                    },

                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    var ProductSpec = $("#tex2").val().trim();
                    var P_Speed = $("#tex3").val().trim();
                    var P_ElectricalRequirements = $("#tex4").val().trim();
                    var P_Main_materialofworkpiece = $("#tex5").val().trim();
                    var P_ChildPartWeight = $("#tex6").val().trim();
                    var P_RollerDiameter = $("#tex7").val().trim();
                    var P_RollerSurface = $("#tex8").val().trim();
                    var Count = $("#tex9").val().trim();
                    var Select = $(".select option:selected").text();
                    var ProductName = $("#tex10").val().trim();
                    var P_MainBeaMaterial = $("#tex11").val().trim();
                    var P_CarryingCapacity = $("#tex12").val().trim();
                    var P_EquipmentWorkplace = $("#tex13").val().trim();
                    var P_ChildPartSpecRange = $("#tex14").val().trim();
                    var P_WorkpieceFeedingMode = $("#tex15").val().trim();
                    var P_RollerMaterial = $("#tex16").val().trim();
                    var P_RollerTransferMode = $("#tex17").val().trim();
                    var Units = $("#tex18").val().trim();
                    var P_ChildPartWeight = $("#tex19").val().trim();
                    var DueDay = $("#tex20").val().trim();
                    $.ajax({
                        url: "/Home/HDAdd",
                        data: {
                            ProductSpec: ProductSpec, P_Speed: P_Speed, P_ElectricalRequirements: P_ElectricalRequirements, P_Main_materialofworkpiece: P_Main_materialofworkpiece, P_ChildPartWeight: P_ChildPartWeight,
                            P_RollerDiameter: P_RollerDiameter, P_RollerSurface: P_RollerSurface, Count: Count, Select: Select, ProductName: ProductName, P_MainBeaMaterial: P_MainBeaMaterial, P_CarryingCapacity: P_CarryingCapacity,
                            P_EquipmentWorkplace: P_EquipmentWorkplace, P_ChildPartSpecRange: P_ChildPartSpecRange, P_WorkpieceFeedingMode: P_WorkpieceFeedingMode, P_RollerMaterial: P_RollerMaterial, P_RollerTransferMode: P_RollerTransferMode,
                            Units: Units, P_ChildPartWeight: P_ChildPartWeight, DueDay: DueDay
                        },
                        type: "post",
                        dataType: "text",
                        success: function (data) {
                            if (data == "true") {
                                window.setTimeout(function () {
                                    window.parent.location.reload();
                                }, 500);
                            }
                            else {
                                alert("添加失败,已存在第一条数据!");
                                return;
                            }
                        }
                    });

                }
            });

            $list = $("#fileList"),
            $btn = $("#btn-star"),
            state = "pending",
            uploader;


        });
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>


