
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head runat="server">
    <link rel="Shortcut Icon" href="~/images/logo.gif">
    <meta name="viewport" content="width=device-width" />
    <title>友力信息管理系统</title>
   
</head>


<frameset rows="88,*" cols="*" frameborder="no" border="0" framespacing="0">
    
    <frame src="/Home/top" name="topframe" scrolling="no" noresize="noresize" id="topframe" title="topframe" />
    <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
        <frame src="/home/left" name="leftframe" scrolling="no" noresize="noresize" id="leftframe" title="leftframe" />
        <frame src="/home/SalesCreation" name="rightframe" id="rightframe" title="rightframe" />

    </frameset>
</frameset>
<noframes>
    <body>
      
    </body>
</noframes>
</html>

