@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="../../js/jquery.js"></script>

    <script type="text/javascript">
$(function(){
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
		var sd = $(this).children("i").text();
		window.parent.document.getElementById("rightframe").src = sd;
	});

	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})
    </script>


</head>

<body style="background:#f0f9fd;">
    <div class="lefttop"><span></span>通讯录</div>

    <dl class="leftmenu">

        <dd>
            <div class="title">
                <span><img src="../../images/leftico01.png" /></span>销售管理
            </div>
            <ul class="menuson">
                <li class="active"><cite></cite><a target="rightFrame">销售合同创建</a><i hidden>/Home/SalesCreation</i></li>
                <li><cite></cite><a target="rightFrame">销售合同查询</a><i hidden>/Home/PM_Contract_Check</i></li>
                <li><cite></cite><a target="rightFrame">销售合同收款</a><i hidden>/Home/PM_ContractReceivablesMain</i></li>

                @*<li><cite></cite><a href="form.html" target="rightFrame">添加编辑</a><i></i></li>
                    <li><cite></cite><a href="imglist.html" target="rightFrame">图片列表</a><i></i></li>
                    <li><cite></cite><a href="imglist1.html" target="rightFrame">自定义</a><i></i></li>
                    <li><cite></cite><a href="tools.html" target="rightFrame">常用工具</a><i></i></li>
                    <li><cite></cite><a href="filelist.html" target="rightFrame">信息管理</a><i></i></li>
                    <li><cite></cite><a href="tab.html" target="rightFrame">Tab页</a><i></i></li>
                    <li><cite></cite><a href="error.html" target="rightFrame">404页面</a><i></i></li>*@
            </ul>
        </dd>


        <dd>
            <div class="title">
                <span><img src="../../images/leftico02.png" /></span>生产计划管理
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#">生产订单创建</a><i hidden=hidden>/ProductionPlanning/PPCreaty</i></li>
                <li><cite></cite><a href="#">工单管理</a><i hidden=hidden>/ProductionPlanning/WorkManagement</i></li>
                <li><cite></cite><a href="#">打包</a><i hidden=hidden>/ProductionPlanning/Pack</i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="~/images/leftico04.png" /></span>采购管理
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#">供应商信息管理</a><i hidden=hidden>/ApplierList/Supplier</i></li>
                <li><cite></cite><a href="#">采购清单</a><i hidden=hidden>/ApplierList/Purchaselist</i></li>
            </ul>
        </dd>

        <dd>
            <div class="title">
                <span><img src="~/images/leftico04.png" /></span>技术部
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#">上传图纸</a><i hidden=hidden>/TechnicalDepartment/UploadTheDrawings</i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="~/images/leftico04.png" /></span>售后管理
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#">售后安装</a><i hidden=hidden>/AfterManagement/Installation</i></li>
            </ul>
        </dd>
        <dd>
            <div class="title"><span><img src="../../images/leftico03.png" /></span>原材料仓</div>
            <ul class="menuson">
                <li><cite></cite><a href="#">物料注册</a><i hidden=hidden>/Rms/MaterialRegistration</i></li>
                <li><cite></cite><a href="#">原材料库存查询</a><i hidden=hidden>/Rms/MaterialsStock</i></li>
                @*<li><cite></cite><a href="#">常用资料</a><i></i></li>
                <li><cite></cite><a href="#">信息列表</a><i></i></li>
                <li><cite></cite><a href="#">其他</a><i></i></li>*@
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="../../images/leftico02.png" /></span>成品仓
            </div>
            <ul class="menuson">
                <li>
                    <cite></cite><a href="#">成品仓库存查询</a><i hidden=hidden>/Warehouse/Stock</i>
                </li>
            </ul>

        </dd>

        <dd>
            <div class="title"><span><img src="../../images/leftico04.png" /></span>任务管理</div>
            <ul class="menuson">
                <li><cite></cite><a href="#">任务分配</a><i hidden="hidden">/TaskManagement/TaskAllocation</i></li>
                <li><cite></cite><a href="#">我的任务</a><i hidden="hidden">/TaskManagement/MyTask</i></li>
                <li><cite></cite><a href="#">已完成的任务</a><i hidden="hidden">/TaskManagement/CompletedTasks</i></li>
            </ul>

        </dd>

        <dd>
            <div class="title"><span><img src="../../images/leftico02.png" /></span>系统设置</div>
            <ul class="menuson">
                <li><cite></cite><a href="#">权限设置</a><i hidden="hidden">/SystemSettings/Permissions</i></li>
                <li><cite></cite><a href="#">生产线</a><i hidden="hidden">/SystemSettings/ProductLine</i></li>
                <li><cite></cite><a href="#">生产工位类型</a><i hidden="hidden">/SystemSettings/LocationType</i></li>
                <li><cite></cite><a href="#">生产工位</a><i hidden="hidden">/SystemSettings/ProductStation</i></li>
                <li><cite></cite><a href="#">工艺BOM</a><i hidden="hidden">/SystemSettings/Process</i></li>
                <li><cite></cite><a href="#">工艺流程</a><i hidden="hidden">/TaskManagement/EditingProcess?PartNumber=""</i></li>
                <li><cite></cite><a href="#">库区</a><i hidden="hidden">/SystemSettings/Reservoir</i></li>
                <li><cite></cite><a href="#">库位</a><i hidden="hidden">/SystemSettings/Location</i></li>
                <li><cite></cite><a href="#">货位</a><i hidden="hidden">/SystemSettings/Goods</i></li>
            </ul>

        </dd>

    </dl>
</body>
</html>
