<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/static/h-ui.admin/css/style.css" />
    <title></title>    
     
    
</head>
<body>

    <article class="page-container">
        <form class="form form-horizontal " id="form-article-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>合同编号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="@ViewData["hebianhao"]" placeholder="" id="hebianhao" name="CuNumber"><i></i>
                </div>
            </div>
            @*<div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>今收款金额：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="newAmountCollected" name="newAmountCollected"><i></i>
                </div>
            </div>*@
            @*<div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>收款时间：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="datetime" class="input-text" value="" placeholder="" id="DateOfReceipt" name="DateOfReceipt"><i></i>
                </div>
            </div>*@
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发票情况：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="Ticket" name="Ticket"><i></i>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>收款类型：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                        <select name="select" class="select">
                            <option value="1">订单金额</option>
                            <option value="2">发货前金额</option>
                            <option value="3">安装前金额</option>
                            <option value="4">验收金额</option>
                            <option value="5">质保金额</option>
                        </select>
                    </span>
                    @*<input type="text" class="input-text" value="" placeholder="" id="shoutype" name="shoutype"><i></i>*@
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onclick="" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>保存</button>
                </div>
            </div>
        </form>
    </article>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="~/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <script type="text/javascript" src="~/lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="~/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="~/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            $("#cancled").click(function () {
                var sd = $("#u").text();
                window.parent.document.getElementById("rightframe").src = sd;
            });
            //表单验证
            $("#form-article-add").validate({
                rules: {                   
                    abstract2: {
                        required: true,
                    },
                    abstract3: {
                        required: true,
                    },
                    author: {
                        required: true,
                    },
                    sources: {
                        required: true,
                    },
                    allowcomments: {
                        required: true,
                    },
                    commentdatemin: {
                        required: true,
                    },
                    commentdatemax: {
                        required: true,
                    },
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    var hebianhao = $("#hebianhao").val().trim();
                    //var newA = $("#newAmountCollected").val().trim();
                    //var DateOfReceipt = $("#DateOfReceipt").val();
                    var ti = $("#Ticket").val().trim();
                    var shoutype = $(".select").val().trim();
                    $.ajax({
                        url: "/Home/ShouXinAdd?hebianhao=" + hebianhao + "&newA=" + "0" + "&Ticket=" + ti + "&shoutype=" + shoutype,
                        type: "post",
                        dataType: "text",
                        success: function (data) {
                            if (data == "true") {
                                layer.msg("新增成功！")
                                window.parent.location.reload();
                            }
                            else if (data == "you") {
                                layer.msg("已存在不能新增！")
                            }
                            else {
                                alert("新增失败!");
                                return;
                            }
                        }
                    });

                }
            });

            $list = $("#fileList"),
            $btn = $("#btn-star"),
            state = "pending",
            uploader;


        });
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>