@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>友力信息管理系统</title>
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all">
    <script language="JavaScript" src="../../js/jquery.js"></script>
    <script type="text/javascript">
        function exits() {
        window.top.location = '/Home/Login';
        }
$(function(){
	//顶部导航切换
    //$(".nav li a").click(function () {
    //    $(".nav li a.selected").removeClass("selected")
    //    $(this).addClass("selected");
    //});
    $('#shou').click(function () {
        window.parent.document.getElementById("rightframe").src = "/Home/Flower";
    });
    $('#map').click(function () {
        window.parent.document.getElementById("rightframe").src = "/Home/Map";
    });
    $('#wenjian').click(function () {
        window.parent.document.getElementById("rightframe").src = "/Home/Computer";
    });
    $('#weixin').click(function () {
        window.parent.document.getElementById("rightframe").src = "https://wx.qq.com/";
    });
})
    </script>  
    <script src="~/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        $(function () {
              if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            } 
        });
        layui.use('element', function () {
            var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            //触发事件
            var active = {
                loading: function (othis) {
                    var DISABLED = 'layui-btn-disabled';
                    if (othis.hasClass(DISABLED)) return;

                    //模拟loading
                    var n = 0, timer = setInterval(function () {
                        n = n + Math.random() * 10 | 0;
                        if (n > 100) {
                            n = 100;
                            clearInterval(timer);
                            othis.removeClass(DISABLED);
                        }
                        element.progress('demo', n + '%');
                    }, 300 + Math.random() * 1000);

                    othis.addClass(DISABLED);
                }
            };          
        });
    </script> 
</head>
<body style="background:url(../../images/topbg.gif) repeat-x;">
    <div class="layui-progress">
        <div class="layui-progress-bar" lay-percent="100%"></div>
    </div>
    <div class="topleft">
        <a href="main.html" target="_parent"><img src="../../images/logo2.png" title="系统首页" /></a>
    </div>
    <ul class="nav">

        <li id="shou"><a target="rightFrame"><img src="../../images/icon01.png" title="信息管理" /><h2>信息管理</h2></a></li>
        <li id="map"><a target="rightFrame"><img src="../../images/icon03.png" title="查看地图" /><h2>查看地图</h2></a></li>
        <li><a href="tools.html" target="rightFrame"><img src="../../images/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>
        <li id="wenjian"><a target="rightFrame"><img src="../../images/icon05.png" title="文件管理" /><h2>文件管理</h2></a></li>
        <li><a href="https://wx.qq.com/" target="_blank"><img src="../../images/icon06.png" title="微信" /><h2>微信</h2></a></li>
        <li><a href="https://chuan.wellsign.cn/" target="_blank"><img src="../../images/qian.png" title="微信" /><h2>好签小程序</h2></a></li>
    </ul>

    <div class="topright">
        <ul>
            <li><span><img src="../../images/help.png" title="帮助" class="helpimg" /></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="javascript:void(0);"  onclick="exits()">退出</a></li>
        </ul>

        <div class="user">
            <span>@Session["name"]</span>
            <i>欢迎您</i>
        </div>

    </div>
</body>
</html>

