@{
    Layout = null;


}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(function () {
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer;      
                    table.render({
                        elem: '#tw'
                   , url: '/AfterManagement/CheckInstallHistory?tid=' + '@ViewData["tid"]' + '&cid=' + '@ViewData["cid"]'
                   , page: true
                   , limit: 15
                   , cols: [[
                       , {
                           field: '', width: 20, title: '', hide: true
                       }
                   , { field: '序号', width: 60, title: '序号' }
                   , { field: '合同编号', width: 120, title: '合同编号' }
                   , { field: '产品名称', width: 200, title: '产品名称' }
                   , { field: '产品规格', width: 150, title: '产品规格' }
                   , { field: '单位', width: 60, title: '单位' }
                   , { field: '合同数量', width: 80, title: '合同数量' }
                   , { field: '已发数量', width: 80, title: '已发数量' }
                   , { field: '今安装数量', width: 80, title: '今安装数量', edit: Text }
                   , { field: '完成时间', width: 80, title: '完成时间', edit: Text }
                   , { field: '是否验收', width: 80, title: '是否验收', edit: Text }
                   , { field: '验收时间', width: 150, title: '验收时间', edit: Text }
                    , { field: '创建时间', width: 150, title: '创建时间' }
                     , { field: '记录历史序号', width: 150, title: '记录历史序号', hide: true }
                   , { field: 'right', width: 100, align: 'center', toolbar: '#barDemo' }
                   ]]
                    });            
                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'update':
                            ifacce = data.是否验收;
                            ifaccedare = data.验收时间;
                            cid = data.合同编号;
                            fish = data.完成时间;
                            pid = data.序号;
                            hid = data.记录历史序号;
                            jan = data.今安装数量;
                            var url = '/AfterManagement/EditInstallHistory?ifacce=' + ifacce + '&ifd=' + ifaccedare + '&cid=' + cid + '&pid=' + pid + '&hid=' + hid + '&jan=' + jan + '&fish=' + fish + '&sn=' + sn + '&yan=' + yan + '&jan=' + jan;
                            $.ajax({
                                url: url,
                                type: 'post',
                                async: true,
                                success: function (data) {
                                    if (data == "true") {
                                        layer.msg("修改成功!", { icon: 6 });
                                        table.reload('tw');
                                    }
                                    if (data == "false") {
                                        layer.msg('修改失败!', { icon: 5 });
                                        return false;
                                    }
                                }
                            });
                            break;
                        case 'delete':
                            pid = data.序号;
                            cid = data.合同编号;
                            hid = data.记录历史序号;
                            sn = data.发货数量;
                            yan = data.已安装数量;
                            jan = data.今安装数量;
                            var url = '/AfterManagement/DeleteInstallHistory?pid=' + pid + '&cid=' + cid + '&hid=' + hid;
                            $.ajax({
                                url: url,
                                type: 'post',
                                async: true,
                                success: function (data) {
                                    if (data == "true") {
                                        layer.msg("修改成功!", { icon: 6 });
                                        table.reload('tw');
                                    }
                                    if (data == "false") {
                                        layer.msg('修改失败!', { icon: 5 });
                                        return false;
                                    }
                                }
                            });
                            break;
                    };
                });


            });
        });



    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" id="detials" lay-event="update">修改</a>
        <a class="layui-btn layui-btn-xs" id="edit" lay-event="delete">删除</a>
    </script>


</head>


<body>
    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                <li>
                    客户名称：
                    <input class="CustomerName" id="CustomerName" type="text" style="width: 180px;" value="@ViewData["cn"]" readonly="readonly" />
                </li>
                <li>
                    合同编号：
                    <input class="ContractNumber" id="ContractNumber" type="text" style="width: 180px;" value="@ViewData["cnb"]" readonly="readonly" />
                </li>
            </ul>
        </div>
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">

        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
