table{
    margin:0px auto;
   
}
 @media   print   {  
  body   {   font-size:   10px;
  } 

  }
 table{
    margin-left:45px;
   
}
body {
    font-size:16px;
}
    table td {
         border:1px solid black;
    }
    table{
        border-collapse: collapse;
    }
    [colspan] {
        text-align: center;
    }
    h1{
       margin:0px auto;
    }
table{
    width:80%;
}
    table:nth-child(1) input {
        width: 350px;
     
    }

    table:nth-child(7) input {
        width: 350px;
       
    }
    table:nth-child(5) input {
        width: 250px;
        text-align: center;
    }
li input {
     
    width: 100px;


}
span {
 display:inline-block;
}
table:nth-child(7) {
    width: 1050px;
    
    line-height: 30px;
}
    table:nth-child(7) label {
        width: 150px;
       
    }
    

table:nth-child(1) {
    width: 1050px;
    line-height: 30px;
}
    /*table:nth-child(3) td:nth-child(3){
        width: 20px;
    }
    table:nth-child(3) td:nth-child(1){
        width: 225px;
    }
    table:nth-child(3) td:nth-child(2){
        width: 225px;
    }*/
    table:nth-child(5) {
        width: 1050px;
        text-align: center;
        line-height: 30px;
    }
td label{
    display: inline-block;
    width: 120px;
}
input {
    border: 0;
    font-size: 16px;
    /*border-bottom: 1px solid black;*/
    text-align:center;
}
li {
    list-style-type:none;
}
select {
    border: 0;
    list-style-type: none;
    text-align: center;
    font-size: inherit;
    padding-left:0;
    vertical-align: auto;
    position: relative;
    z-index: 1;
   
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
}
