@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">采购管理</a></li>
            <li><a href="#">新增采购申请</a></li>
        </ul>
    </div>
    <div class="layui-form" id="form-article-add" style="margin-top:20px; margin-left: 300px">
        <input class="layui-hide id" />
        <div class="layui-form-item">
            <label class="layui-form-label">物料名称</label>
            <div class="layui-input-block" style="width:400px">
                <select name="Material" id="Material" lay-verify="" lay-filter="Material" lay-search><option value="">直接选择或搜索选择</option></select>
            </div>
        </div>
        <div class="layui-form-item" id="spec" style="display:none;">
            <label class="layui-form-label">物料规格</label>
            <div class="layui-input-block" style="width:400px">
                <select name="PartSpec" id="PartSpec" lay-verify="" lay-filter="PartSpec" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item" id="partmat" style="display:none;">
            <label class="layui-form-label">物料级别</label>
            <div class="layui-input-block" style="width:400px">
                <select name="PartMaterial" id="PartMaterial" lay-verify="" lay-filter="PartMaterial" lay-search><option value="">直接选择或搜索选择</option></select>
            </div>
        </div>
        <div class="layui-form-item" id="partmat">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block" style="width:400px">
                <select name="type" id="type" lay-verify="required">
                    <option value="外购件">外购件</option>
                    <option value="焊接件">焊接件</option>
                    <option value="装配体">装配体</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">申请采购套数</label>
            <div class="layui-input-block" style="width:400px">
                <input type="number" required name="ApplyPCS" placeholder="请输入申请套数" id="ApplyPCS" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">每套数量</label>
            <div class="layui-input-block" style="width:400px">
                <input type="number" required name="qtyofPCS" placeholder="请输入每套数量" id="qtyofPCS" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-block" style="width:400px">
                <input type="text" required name="Units" placeholder="请输入单位" id="Units" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block" style="width:600px">
                <textarea name="desc" placeholder="请输入内容" id="desc" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" style="margin-left:100px" id="enterSubmit">保存</button>
            </div>
        </div>
    </div>
    <script>  
        $(function () {
            if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
        });
            layui.use(['layer', 'form', 'jquery'], function () {
                var form = layui.form, layer = layui.layer, $ = layui.jquery;
                form.render();
                var Material = null;
                $.ajax({
                    type: "POST",
                    url: '/TaskManagement/CheckGetMaterial',
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            var list = data["data"];
                            $.each(list, function (i, result) {
                                $('#Material').append('<option value=' + result.PartNumber + '>' + result.PartNumber + '</option>');
                            });
                            form.render();
                        }
                    }
                });
                form.on('select(Material)', function (data) {                    
                    Material = data.value;
                    $("#spec").css("display", "block");
                    $("#partmat").css("display", "none");
                    $.ajax({
                        type: "POST",
                        url: '/TaskManagement/CheckGetSpec?PartNumber=' + Material,
                        dataType: "json",
                        success: function (data) {
                            if (data != null) {
                                $('#PartSpec').empty();
                                var list = data["data"];
                                $('#PartSpec').append('<option value="">直接选择或搜索选择</option>');
                                $.each(list, function (i, result) {
                                    $('#PartSpec').append('<option value=' + result.PartSpec + '>' + result.PartSpec + '</option>');
                                });
                                form.render();
                            }
                        }
                    });
                });
                form.on('select(PartSpec)', function (data) {
                    PartSpec = data.value;
                    $("#partmat").css("display", "block");
                    $.ajax({
                        type: "POST",
                        url: '/TaskManagement/CheckGetPartMaterial?PartSpec=' + PartSpec,
                        dataType: "json",
                        success: function (data) {
                            if (data != null) {
                                $('#PartMaterial').empty();
                                var list = data["data"];
                                $('#PartMaterial').append('<option value="">直接选择或搜索选择</option>');
                                $.each(list, function (i, result) {

                                    $('#PartMaterial').append('<option value=' + result.PartMaterial + '>' + result.PartMaterial + '</option>');
                                });
                                form.render();
                            }
                        }
                    });
                });
                $(".layui-btn").click(function () {
                    var Material = $("#Material").val();
                    var PartSpec = $("#PartSpec").val();
                    var PartMaterial = $("#PartMaterial").val();
                    var ApplyPCS = $("#ApplyPCS").val();
                    var qtyofPCS = $("#qtyofPCS").val();
                    var unit = $("#Units").val();
                    var desc = $("#desc").val();
                    var type = $("#type option:selected").text();
                    $.ajax({
                        type: "POST",
                        url: '/TaskManagement/AddPurlist?Material=' + Material + '&PartSpec=' + PartSpec + '&PartMaterial=' + PartMaterial + '&ApplyPCS=' + ApplyPCS + '&qtyofPCS=' + qtyofPCS+'&type='+type
                            + '&Taskid=' + '@ViewData["purcha"]' + '&unit=' + unit + '&desc=' + desc,
                        dataType: "text",
                        success: function (data) {
                            if (data == "true") {
                                layer.msg('新增成功');
                                window.parent.location.reload();
                            }
                            else {
                                layer.show('出现异常');
                            }
                        }
                    });
                }); 
            });
                          
    </script>
</body>

</html>
