
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "微软雅黑";
            font-style: normal;
            font-size: 10px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            width: 130px;
        }

        .dropdown-selected {
            width: 100% !important;
            height: 20px;
            line-height: 20px;
            border: 1px solid #c6c8cc;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            color: #333;
            text-indent: 10px;
            margin-bottom: 0 !important;
        }

        .dropdown ul {
            padding: 0;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            background-color: #fff;
            margin-top: 2px;
            border: 1px solid #c6c8cc;
            position: absolute;
            display: none;
            z-index: 2;
        }

            .dropdown ul li {
                list-style: none;
                text-indent: 10px;
            }

                .dropdown ul li a {
                    display: block;
                    color: #282c33;
                    text-decoration: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .dropdown ul li:hover {
                    background-color: #f2f6fa;
                }

                .dropdown ul li a:active, .dropdown ul li.active a {
                    background-color: #e4e9f2;
                }
    </style>
    <script src="~/js/awesomplete.js"></script>
    <script src="~/js/awesomplete.min.js"></script>
    <script type="text/javascript">
        $(function () {
            @*if ('@Session["name"]' == "") {
                location.href = '/Home/Login'
            }*@
            $(".awesomplete").bind("input propertychange", function () {
                var w = $("#CustomerName").val();
                if (w != null && w.length > 1) {
                    $.ajax({
                        type: "GET",
                        url: '/Rms/VagueCustomerName',
                        data: { CustomerName: $("#CustomerName").val() },
                        dataType: "json",
                        success: function (data) {
                            var item;
                            if (data != null) {
                                //$("#mylist>*").remove();
                                $.each(data, function (i, result) {
                                    $('#mylist').append('<option>' + result.CustomerName + '</option>');
                                });
                                w = null;
                            }
                        }
                    });
                }
            });
            $("#CustomerName").blur(function () {
                $("#mylist>*").remove();
            });
            //$("#search-input").bind("input propertychange", function () {
            //    var s = $("#search-input").val();
            //    if (s!= null&&s.length>2) {
            //        $.ajax({
            //            type: "GET",
            //            url: '/Rms/VagueMaterialName',
            //            data: { MaterialName: $("#search-input").val() },
            //            dataType: "json",
            //            success: function (data) {
            //                if (data != null) {
            //                    $("#Parlist>* ").remove();
            //                    $.each(data, function (i, result) {
            //                        $('#Parlist').append('<option>' + result.PartNumber + '</option>');
            //                    });
            //                    s = null;
            //                }
            //            }
            //        });
            //    }
            //});
            $("#Name").bind("input propertychange", function () {
                var name = $("#Name").val();
                if (name != null) {
                    $.ajax({
                        type: "GET",
                        url: '/Rms/VagueUserName',
                        data: { UserName: $("#Name").val() },
                        dataType: "json",
                        success: function (data) {
                            if (data != null) {
                                //alert(data.length);
                                $("#listname >* ").remove();
                                $.each(data, function (i, result) {
                                    $('#listname').append('<option>' + result.CreatedBy + '</option>');
                                });
                                name = null;
                            }
                        }
                    });
                }
            });
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });
            $(document).keydown(function (e) {
                if (e.keyCode == 13) {
                    $(".layui-btn").click();
                }
            });
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer;
                var tableIns = table.render({
                    elem: '#tw'
                 , url: '/TaskManagement/CheckInventers?Parid=' + '@ViewData["part"]'
                 , cols: [[
                   { field: 'ChildPartID', width: 230, title: '物料编码' }
                 , { field: 'PartNumber', width: 230, title: '物料名称' }
                 , { field: 'PartSpec', width: 200, title: '物料规格' }
                 , { field: 'PartMaterial', width: 150, title: '材质' }
                 , { field: 'StockQTY', width: 100, title: '库存数量' }
                 ]]
                });
            });
        })



    </script>
</head>
<body onselectstart="return false;">

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">原材料仓</a></li>
            <li><a href="#">库存查询</a></li>
        </ul>
    </div>
    <div class="rightinfo">      
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>