@{
    Layout = null;


}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>


    <script type="text/javascript">          
        $(function () {
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer;
                    table.render({
                     elem: '#tw'
                   , url: '/TaskManagement/DesignDistriCheck?ProjectName=' + '@ViewData["pndd2"]'             
                   , done: function () {
                         $("tr a").hide();
                         $("tr").hover(function () {

                             $(this).children().last().children().children().toggle();
                         })
                     }
                   , cols: [[
                        {
                            field: '', width: 20, title: '',hide:true
                       }
                       , { field: '任务编号', width: 200, title: '任务编号' }
                       , { field: '设计人', width: 250, title: '设计者'}
                       , { field: '审核人', width: 250, title: '审核者' }
                   , { field: '任务名称', width: 350, title: '订单产品名称' }
                   ]]
                   });           
            });
        })
    </script>
</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">分配情况</a></li>
           
        </ul>
    </div>

    <div class="rightinfo">     
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">

        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
