@{
    Layout = null;


}

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>

    <script type="text/javascript">
        $(document).keydown(function (e) {
            switch (e.keyCode) {
                case 27:
                    window.history.go(-1);
                    break;
            }
        });
        $(function () {
            if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });
            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });
            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });
            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer;
                table.render({
                    elem: '#tw'
               , url: '/TaskManagement/ProMoreTask'
               , page: true
               , toolbar: '#toolbarDemo'
               , limit: 15
               , done: function () {
                 $("tr a").hide()
                 $("tr").hover(function () {
                     $(this).children().last().children().children().toggle();
                 })
             }
               , cols: [[
                 { type: 'radio' }
               , { field: '任务编号', width: 90, title: '任务编号' }
               , { field: '任务名称', width: 210, title: '任务名称', event: 'ta', style: "color: red" }
               , { field: '项目名称', width: 190, title: '项目名称', event: 'xi',style:"color: red" }
               , { field: '产品名称', width: 220, title: '产品名称' }
               , { field: '产品规格', width: 220, title: '产品规格' }             
               , { field: '任务状态', width: 200, title: '任务状态' }
               , { field: 'right', width: 140, align: 'center', toolbar: '#barDemo',hide:true}
               ]]

                });
                table.on('toolbar(demo)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;  //获取选中行数据
                    var sd = JSON.stringify(data);
                    var dataObj = eval("(" + sd + ")");//转换为json对象
                    switch (obj.event) {
                        case 'getCheckData':
                            $.each(dataObj, function (idx, item) {
                                var bianhao = item.任务编号;
                                $.ajax({
                                    url: "/TaskManagement/UpdateTaskForChangeOwners?task=" + bianhao,
                                                type: 'post',
                                                success: function (data) {
                                                    if (data == "true") {
                                                        layer.msg("这个采购任务属于你了！", { icon: 6 });
                                                        table.reload('tw');
                                                    }                                                  
                                                }
                                            });
                            });
                            break;              
                    }
                });
                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'xi') {
                       id = data.合同序号;
                       window.parent.document.getElementById("rightframe").src = "/Home/Contract_Checks?id=" + id;
                    }
                    if (obj.event === 'ta') {
                        taskid = data.任务编号;
                        window.parent.document.getElementById("rightframe").src = "/TaskManagement/NameTasks/?id=" + taskid;
                    }
                });
            });
        })



    </script>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData" style="height:35px" id="btns">这个采购任务我要了哦!</button>
        </div>
    </script>
    <script type="text/html" id="barDemo">
    </script>

</head>


<body>

    <div class="rightinfo">
        <table class="tablelist" id="tw" lay-filter="demo"></table>




    </div>
    <script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    </script>

</body>
</html>
