@{
    Layout = null;


}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
            $(function () {
                $(".click").click(function () {
                    $(".tip").fadeIn(200);
                });
                if ('@Session["name"]' == "") {
                    window.top.location = '/Home/Login';
                }
                $(".tiptop a").click(function () {
                    $(".tip").fadeOut(200);
                });
                $(document).keydown(function (e) {
                    if (e.keyCode == 13) {
                        $(".layui-btn").click();
                    }
                });
                $(".sure").click(function () {
                    $(".tip").fadeOut(100);
                });

                $(".cancel").click(function () {
                    $(".tip").fadeOut(100);
                });
                layui.use(['table', 'layer'], function () {
                    var table = layui.table, layer = layui.layer;                                      
                    var tableIns=table.render({
                         elem: '#tw'
                       , url: '/ProductionPlanning/Get_PPd'
                       , page: true
                       , done: function () {
                           $("tr a").hide()
                           $("tr").hover(function () {
                               $(this).children().last().children().children().toggle();
                           })
                       }
                       , limit: 15
                       , cols: [[
                       { field: 'ID', width: 210, title: '序号' }
                       , { field: 'CustomerName', width: 210, title: '客户名称' }
                       , { field: 'ContractNumber', width: 235, title: '合同编号', sort: true }
                       , {
                           field: '合同签订日期', width: 180, title: '合同签订日期',
                       }
                       , { field: 'right', width: 280, align: 'center', toolbar: '#barDemo' }
                       ]]

                        });
                    $(".layui-btn").click(function () {
                        var CuName = $("#CustomerName").val().trim();
                        var CNumber = $("#ContractNumber").val().trim();
                        var strattime = $(".strattime").val();
                        var endtime = $(".endtime").val();
                        '/ProductionPlanning/Get_PPd?CName=' + CuName + '&CNumber=' + CNumber + '&strattime=' + strattime + '&endtime=' + endtime
                        tableIns.reload({
                            page: {
                                curr: 1
                            },
                            where: {
                                CName: CuName
                                , CNumber: CNumber
                                , strattime: strattime
                                , endtime: endtime
                            }
                        });
                    });

                    table.on('tool(demo)', function (obj) {
                        var data = obj.data;
                        switch (obj.event) {
                            case 'PPDetials':
                                id = data.ID;
                                window.parent.document.getElementById("rightframe").src = "/ProductionPlanning/notice?id=" + id+"&studs="+"1";
                                break;
                            case 'check':
                                id = data.ID;
                                window.parent.document.getElementById("rightframe").src = "/Home/ContractPrint?id=" + id + "&vas=" + "2";
                                break;
                            case 'que':
                                id = data.ID;
                                var url = "/TaskManagement/SubmitOrder?id=" + id;
                                $.ajax({
                                    url: url,
                                    data: { id: id },
                                    type: "post",
                                    dataType: "text",
                                    success: function (data) {
                                        if (data == "true") {
                                            layer.msg('计划部订单处理中心确认收到生产订单！');
                                            $(".layui-btn").click();
                                        } else if (data == "two") {
                                            layer.msg('已经确认,不用点了哦！');
                                        }

                                    }
                                });
                        };
                    });


                });
            })
    </script>
    <script type="text/html" id="barDemo">
        {{#  if(d.合同状态 =='财务部合同审核通过'){ }}
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="que">确认收到生产订单</a>
        {{# }else { }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="PPDetials">订单明细</a>
        <a class="layui-btn layui-btn-xs" id="check" lay-event="check">查看合同</a>
        {{#  } }}
    </script>

</head>


<body onselectstart="return false;">

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">任务管理</a></li>
            <li><a href="#">我的任务</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                <li>
                    创建日期：
                    <input name="strattime" class="strattime" id="test1" type="text" onclick="WdatePicker()" style="width: 80px;" />
                </li>
                <li>
                    到：
                    <input class="endtime" id="test2" type="text" onclick="WdatePicker()" style="width: 80px;" />
                </li>
                @*<li>
                        生产订单：
                        <select name="quiz2" id="s2">
                            <option value="已转生产订单" selected="">已转生产订单</option>
                            <option value="未转生产订单">未转生产订单</option>
                            <option value="全部">全部</option>
                        </select>
                    </li>*@
                <li>
                    客户名称：
                    <input class="CustomerName" id="CustomerName" type="text" style="width: 80px;" />
                </li>
                <li>
                    合同编号：
                    <input class="ContractNumber" id="ContractNumber" type="text" style="width: 80px;" />
                </li>
            </ul>
            <button class="layui-btn" data-type="reload">搜索</button>



        </div>
        <table class="tablelist" id="tw" lay-filter="demo"></table>




    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
