

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <style>
        .my-skin .layui-layer-btn a{
            background-color: #84c101;
	         border: 1px solid #84c101;
             color:#FFF;
        }
    </style>
    <script type="text/javascript">   
        $(document).keydown(function (e) {
            switch (e.keyCode) {
                case 27:
                    $("#cancle").click();
                    break;
                case 13:
                    $("#sele").click();
                    break;
            }       
        });
        $(function () {
            $(".my-skin .layui-layer-btn2").hide();
            $("#cancle").click(function () {
                window.parent.document.getElementById("rightframe").src = "/TaskManagement/TaskAllocation";
            });
            $("#Dis").click(function () {
                var url = '/TaskManagement/DesignDistribution?ProjectName=' + '@Session["pndd"]';
                layer_show('机械分配查询', url, '1200', '800');
            });
            $("#WorkCondition").click(function () {
                var url = '/TaskManagement/WorkCheck';
                layer_show('工作查询', url, '1400', '850');
            });
            layui.use('table', function () {
                var table = layui.table;
                table.render({
                    elem: '#tw'
                    , url: '/TaskManagement/TpA?DistriBution='+'未分配'
               , page: false
               , done: function () {
                   $("tr a").hide();
                   $("tr").hover(function () {
                       $(this).children().last().children().children().toggle();
                   });
                                    }
                , cols: [[
                 { field: '任务编号', width: 160, title: '任务编号' }
                ,{ field: '订单产品名称', width: 235, title: '订单产品名称' }
                , { field: '订单产品规格', width: 235, title: '订单产品规格' }
                , { field: '机械任务分配', width: 235, title: '机械任务分配' }
                , { field: '电气任务分配', width: 235, title: '电气任务分配' }
                , { field: '是否拆分', width: 235, title: '是否拆分' }
                ,{ field: 'right', width: 250, align: 'center', toolbar: '#barDemo' }
               ]]
                });     
                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'Detials':
                            xie = data.机械任务编号;
                            qi = data.电气任务编号;
                            var jixie = null;
                            var kong = '';
                            var dianqi = null;
                            if (xie != null) {
                                jixie = '机械';
                            }
                            else
                            {
                                jixie = '';
                            }
                            if (qi != null) {
                                dianqi = '电气';

                            }
                            else
                            {
                                dianqi = '取消';
                            }
                            layer.confirm('请选择任务分配！', {title:"友力提示",skin:"my-skin",
                                btn: [jixie,kong,dianqi], btn1: function () {
                                    layer.closeAll();
                                    var url = '/TaskManagement/EditingMechanicalTasks?TaskID=' + xie;
                                       layer_show('分配任务',url,'1000', '700');
                                },
                                btn2:function(){
                                    return false;
                                },
                                btn3: function () {
                                    if (dianqi == '电气') {
                                        var url = '/TaskManagement/EditingElectricalTasks?TaskID=' + qi;
                                        layer_show('分配任务', url, '1000', '700');
                                    }else
                                    {                                   
                                    }                                   
                                }
                            });
                            break;

                            case 'copy':
                                layer.confirm("真的要复制这条信息吗？", function (index) {
                                    var id = data.产品编号;
                                    var ContractID = data.合同编号;
                                    var ProductName = data.订单产品名称;
                                    $.ajax({
                                        type: "POST",
                                        url: '/TaskManagement/AddPoDetials?id=' + id + '&cid=' + ContractID + '&pname=' + ProductName,
                                        dataType: "text",
                                        success: function (data) {
                                            if (data == 'true') {
                                                layer.msg('复制成功！');
                                                table.reload('tw');
                                            }                                       
                                        }
                                    });
                                });
                                break;
                        
                            case 'delete':
                                layer.confirm("真的要删除这条信息吗？", function (index) {
                                    var cid = data.合同编号;
                                    var pid = data.产品编号;
                                    $.ajax({
                                        type: "POST",
                                        url: '/TaskManagement/DeletePoDetials?id=' + cid + '&pid=' + pid,
                                        dataType: "text",
                                        success: function (data) {
                                            if (data == 'true') {
                                                layer.msg('删除成功！');
                                                table.reload('tw');
                                            }
                                            else
                                            {
                                                layer.msg('需要重新登录！');
                                            }
                                        }
                                    });
                                });
                                break;

                        case 'submtd':
                            var taskid = data.任务编号;
                            var pnumber = data.订单产品名称;
                            var pspec = data.订单产品规格;
                            var num = data.数量;
                            $.ajax({
                                type: "POST",
                                url: '/TaskManagement/SubmitPlans?taskid=' + taskid + '&pnum=' + pnumber + '&pspec=' + pspec + '&num=' + num,
                                dataType: "text",
                                success: function (data) {
                                    if (data == 'true') {
                                        layer.msg('提交成功！');                                        
                                    }
                                    else
                                    {
                                        layer.msg('请联系系统维修人员！');
                                    }
                                }
                            });

                            break;
                    };
                });
            });
            layui.use('table', function () {
                var table = layui.table;                                                                 
                $(".layui-btn").click(function () {
                    var fenpei = $("#s option:selected").text();
                    table.render({
                        elem: '#tw'
                        , url: '/TaskManagement/TpA?DistriBution=' + fenpei
                        , page: false
                        , done: function () {
                            $("tr a").hide();
                            $("tr").hover(function () {
                                $(this).children().last().children().children().toggle();
                            })
                        }
                        , cols: [[
                            { field: '任务编号', width: 235, title: '任务编号' }
                            ,{ field: '订单产品名称', width: 235, title: '订单产品名称' }
                            , { field: '订单产品规格', width: 235, title: '订单产品规格' }
                            , { field: '机械任务分配', width: 235, title: '机械任务分配' }
                            , { field: '电气任务分配', width: 235, title: '电气任务分配' }
                            , { field: '是否拆分', width: 235, title: '是否拆分' }
                            , { field: 'right', width: 250, align: 'center', toolbar: '#barDemo' }
                        ]]
                    });
                    table.on('tool(demo)', function (obj) {
                        var data = obj.data;
                        switch (obj.event) {
                            case 'Detials':
                                xie = data.机械任务编号;
                                qi = data.电气任务编号;
                                var jixie = null;
                                var kong = '';
                                var dianqi = null;
                                if (xie != null) {
                                    jixie = '机械';
                                }
                                else {
                                    jixie = '';
                                }
                                if (qi != null) {
                                    dianqi = '电气';

                                }
                                else {
                                    dianqi = '取消';
                                }
                                layer.confirm('请选择任务分配！', {
                                    title: "友力提示", skin: "my-skin",
                                    btn: [jixie, kong, dianqi], btn1: function () {
                                        layer.closeAll();
                                        var url = '/TaskManagement/EditingMechanicalTasks?TaskID=' + xie;
                                        layer_show('分配任务', url, '1000', '700');
                                    },
                                    btn2: function () {
                                        return false;
                                    },
                                    btn3: function () {
                                        if (dianqi == '电气') {
                                            var url = '/TaskManagement/EditingElectricalTasks?TaskID=' + qi;
                                            layer_show('分配任务', url, '1000', '700');
                                        } else {
                                        }
                                    }
                                });
                                break;
                            case 'copy':
                                layer.confirm("真的要复制这条信息吗？", function (index) {
                                    var id = data.产品编号;
                                    var ContractID = data.合同编号;
                                    var ProductName = data.订单产品名称;
                                    $.ajax({
                                        type: "POST",
                                        url: '/TaskManagement/AddPoDetials?id=' + id + '&cid=' + ContractID + '&pname=' + ProductName,
                                        dataType: "text",
                                        success: function (data) {
                                            if (data == 'true') {
                                                layer.msg('复制成功！');
                                                table.reload('tw');
                                            }
                                        }
                                    });
                                });
                                break;

                             case 'delete':
                                layer.confirm("真的要删除这条信息吗？", function (index) {
                                    var cid = data.合同编号;
                                    var pid = data.产品编号;
                                    $.ajax({
                                        type: "POST",
                                        url: '/TaskManagement/DeletePoDetials?id=' + cid + '&pid=' + pid,
                                        dataType: "text",
                                        success: function (data) {
                                            if (data == 'true') {
                                                layer.msg('删除成功！');
                                                table.reload('tw');
                                            }
                                            else {
                                                layer.msg('需要重新登录！');
                                            }
                                        }
                                    });
                                });
                                break;
                            case 'submtd':
                                var taskid = data.任务编号;
                                var pnumber = data.订单产品名称;
                                var pspec = data.订单产品规格;
                                var num = data.数量;        
                                $.ajax({
                                    type: "POST",
                                    url: '/TaskManagement/SubmitPlans?taskid=' + taskid + '&pnum=' + pnumber + '&pspec=' + pspec + '&num=' + num,
                                    dataType: "text",
                                    success: function (data) {
                                        if (data == 'true') {
                                            layer.msg('提交成功！');
                                        }
                                        else {
                                            layer.msg('请联系系统维修人员！');
                                        }
                                    }
                                });

                                break;
                        };
                    });
                });
                
            });
        })
    </script>
    <script type="text/html" id="barDemo">
        {{#  if(d.是否拆分 == '拆分'){ }}
        <a class="layui-btn layui-btn-xs" id="detials" lay-event="Detials">操作</a>
        <a class="layui-btn layui-btn-xs" id="copy" lay-event="copy">复制</a>
        {{#  } else if(d.是否拆分 == '拆分后'){ }}
        <a class="layui-btn layui-btn-xs" id="detials" lay-event="Detials">操作</a>
        <a class="layui-btn layui-btn-xs" id="copy" lay-event="copy">复制</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" id="delete" lay-event="delete">删除</a>
        {{#  } else if(d.订单产品名称 == '路轨'){ }}
        <a class="layui-btn layui-btn-xs" id="submt" lay-event="submtd">提交计划部</a>
        {{#  }else{ }}
        <a class="layui-btn layui-btn-xs" id="detials" lay-event="Detials">操作</a>
        {{#  } }}
     

    </script>

</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">任务管理</a></li>
            <li><a href="#">任务分配</a></li>
            <li><a href="#">技术部分配任务</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                <li class="click" id="cancle">
                    <span>
                        <img src="../../images/t02.png" />
                    </span>返回
                </li>
                <li>
                    是否分配：
                    <select name="s" id="s" style="width:100px;">
                        <option value="未分配">未分配</option>
                        <option value="已分配">已分配</option>
                    </select>
                </li>
            </ul>
            <button class="layui-btn" data-type="reload" id="sele" usesubmitbehavior=true>搜索</button>
            <button class="layui-btn" data-type="reload" id="Dis" usesubmitbehavior=true>机械任务分配信息</button>
            <button class="layui-btn" data-type="reload" id="WorkCondition" usesubmitbehavior=true>工作状况信息</button>
        </div>

    </div>
    <table class="tablelist" id="tw" lay-filter="demo"></table>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $(function () {
        });
        function HDetials_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
        function HDetials_update(title, url, w, h) {
            layer_show(title, url, w, h);
        }    
    </script>

</body>
</html>




