
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(function () {
        $(".click").click(function () {
            $(".tip").fadeIn(200);
        });

        $(".tiptop a").click(function () {
            $(".tip").fadeOut(200);
        });

        $(".sure").click(function () {
            $(".tip").fadeOut(100);
        });

        $(".cancel").click(function () {
            $(".tip").fadeOut(100);
        });
        layui.use(['table', 'layer'], function () {
            var table = layui.table, layer = layui.layer;
            $(".layui-btn").click(function () {
                var CuName = $("#CustomerName").val().trim();
                var storagetime = $(".dee").val();
                var storageendtime = $(".storageendtime").val();
                var outgoingtime = $(".out").val();     
                var outgoingendtime = $(".outgoingendtime").val();
              table.render({
                elem: '#tw'
               , url: '/Warehouse/Getproduct?CName=' + CuName + '&storagetime=' + storagetime + '&storagetimeend=' + storageendtime + '&outgoingtime=' +outgoingtime + '&outgoingtimeend='+outgoingendtime
               , page: true
               , limit: 15
               , cols: [[
               { field: '序号', width: 80, title: '序号' }
               , { field: '项目', width: 210, title: '项目名称' }
               , { field: '存储数量', width: 235, title: '存储数量' }
               , {field: '仓库', width: 180, title: '仓库'}
               , { field: '库区', width: 100, title: '库区' }
               , { field: '库位', width: 100, title: '库位' }
                , { field: '货位', width: 100, title: '货位' }
                , { field: '时间', width: 180, title: '时间' }
               ]]

                });
            });
        });
    })



    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">成品仓</a></li>
            <li><a href="#">库存查询</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li>
                    项目名称：
                    <input class="CustomerName" id="CustomerName" type="text" style="width: 180px;" />
                </li>
                <li>
                    入库日期：
                    <input class="dee" id="test1" type="text" onclick="WdatePicker()" style="width: 80px;" />
                </li>
                <li>
                    到：
                    <input class=" storageendtime" id="test2" type="text" onclick="WdatePicker()" style="width: 80px;" />
                </li>
                <li>

                </li>
                <li>
                    出库日期：
                    <input class="out" id="test1" type="text" onclick="WdatePicker()" style="width: 80px;" />
                </li>
                <li>
                    到：
                    <input class="outgoingendtime" id="test2" type="text" onclick="WdatePicker()" style="width: 80px;" />
                </li>
            </ul>
            <button class="layui-btn" data-type="reload">查询</button>

        </div>
        <table class="tablelist" id="tw" lay-filter="demo"></table>


    </div>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>

