
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>友力信息管理系统</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/html" id="bsarDemo">
        <a class="layui-btn layui-btn-xs" lay-event="add">添加货位</a>
        <a class="layui-btn layui-btn-xs" lay-event="updata">更新货位</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除货位</a>
    </script>
    <script>
    function getQueryString() {
        var obg = {}, a = '';
        (a = window.location.search.substr(1)) || (a = window.location.hash.split('?')[1])
        a.split(/&/g).forEach(function (item) {
            obg[(item = item.split('='))[0]] = item[1];
        })
        return obg
    }
    $(function () {

        var StorageLocationID = getQueryString().StorageLocationID;
        var names = getQueryString().name;
        layui.use(['table', 'layer'], function () {
            var table = layui.table, layer = layui.layer;
            table.render({
                elem: '#tw'
             , url: '/Warehouse/WHGoodsAllist?StorageLocationID=' + StorageLocationID
             , page: true
             , done: function () {
                    $("tr a").hide();
                    $("tr").hover(function () {
                        $(this).children().last().children().children().toggle();
                    })
                }
             , limit: 15
             , cols: [[
               { field: '序号', width: 80, title: '序号', edit: 'text' }
             , { field: '货位', width: 180, title: '货位', edit: 'text' }
             , { field: '描述', width: 210, title: '描述', edit: 'text' }
             , { field: '建货位时间', width: 235, title: '建货位时间' }
             , { field: '建货位人', width: 180, title: '建货位人', edit: 'text' }
             //, { field: '状态', width: 100, title: '状态', edit: 'text' }
            , { field: 'right', width: 210, align: 'center', toolbar: '#bsarDemo' }
             ]]
            });
            table.on('tool(demo)', function (obj) {
                var data = obj.data //获得当前行数据
               , layEvent = obj.event; //获得 lay-event 对应的值
                // var StorageLocationID = data.StorageLocationID;
                var GoodsAlid = data.序号;
                var Name = data.货位;
                var Description = data.描述;
                var CreatedBy = data.建货位人;
                var StatusID = data.状态;
                switch (layEvent) {
                    case 'del':
                        layer.confirm('真的删除行么', function (index) {
                            $.ajax({
                                url: "/Warehouse/WHGoodsAldel",
                                data: { GoodsAlid: GoodsAlid },
                                type: "post",
                                dataType: "text",
                                success: function (data) {
                                    if (data == "true") {
                                        layer.msg('删除成功');
                                    } else {
                                        layer.msg('删除失败');
                                    }
                                }
                            });
                            obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                            //向服务端发送删除指令
                        });
                        break
                    //case 'sel':
                    //    layer.open({
                    //        type: 2
                    //        , content: '/Warehouse/' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    //        , anim: 2
                    //    });
                    //    break
                    case 'add':
                        layer.open({
                            type: 2
                            , area: ['600px', '600px']
                           , content: '/Warehouse/WHGoodsAlAdd?Name=' + names
                           , anim: 2
                        });
                        break
                    case 'updata':
                        $.ajax({
                            url: "/Warehouse/WHGoodsAlupdata",
                            data: { GoodsAlid: GoodsAlid,Name:Name,Description:Description,CreatedBy:CreatedBy,StatusID:StatusID },
                            type: "post",
                            dataType: "text",
                            success: function (data) {
                                if (data == "true") {
                                    layer.msg('更新成功');
                                } else {
                                    layer.msg('更新失败');
                                }
                            }
                        });
                        break
                }
            });
        });
    });
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">仓库管理</a></li>
            <li><a href="#">查看货位信息</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
</body>
</html>

