@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>

</head>
<body>
    <script type="text/javascript">
        layui.use(['table', 'layer'], function () {
            if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
                var table = layui.table, layer = layui.layer;
                table.render({
                    elem: '#tw'
                      , url: '/ApplierList/CheckMaterInfos?sid='+'@ViewData["sid"]'
                      , page: true
                      , limit: 15
                      //, done: function () {
                      //    $("tr a").hide();
                      //    $("tr").hover(function () {
                      //        $(this).children().last().children().children().toggle();
                      //    })
                      //}
                      , cols: [[
                           { field: '', hide: true }
                          , { field: 'Id', width: 210, title: '序号' }
                          , { field: 'Name', width: 210, title: '供应商名称' }
                          , { field: 'MaterTypeName', width: 235, title: '物料类型' }
                          , { field: 'CreateTime', width: 235, title: '创建时间' }
                          , { field: 'CreateBy', width: 235, title: '创建人' }
                          , { field: 'right', width: 250, align: 'center', toolbar: '#barDemo' }
                          ]]
                });
            table.on('tool(tw)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'delete':
                        layer.confirm("真的删除行么", function (index) {
                            id = data.Id;
                            $.ajax({
                                url: "/ApplierList/DeleteMaterInfo",
                                data: { id: id },
                                type: "post",
                                dataType: "text",
                                success: function (data) {
                                    if (data == "true") {
                                        layer.msg('删除成功！');
                                        table.reload('tw');
                                    }
                                    else
                                    {
                                        layer.msg('异常请重新登录！');
                                    }
                                   
                                }
                            });
                        });
                        break;
                }
            });
        });
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" id="delete" lay-event="delete">删除</a>       
    </script>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">采购管理</a></li>
            <li><a href="#">查看供应商物料类型</a></li>
        </ul>
    </div>
    <div class="rightinfo">

        <div class="tools">        
            <table class="tablelist" id="tw" lay-filter="tw" />
        </div>

       </div>

</body>

</html>
