
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/laydate/laydate.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <title>MaterialManagement</title>
    <style>
        .layui-table-cell {
            overflow: inherit;
            height: inherit;
        }
    </style>
    <script type="text/javascript">
        $(function () { 
        $(document).ajaxStart(function () {
            layer.msg('加载中', {
                icon: 16
                , shade: 0.01
                , time: false
            });
        })
        $(document).ajaxStop(function () {
            layer.closeAll();
        });
      
            
        layui.use(['table', 'layer', 'form'], function () {
            
            
            var typeid = new Array();
            var applierid = new Array();
            var MaterialType = new Array();
            var table = layui.table, layer = layui.layer
                , form = layui.form;
            var tableIns =table.render({
                elem: '#tw'
                , url: '/ApplierList/checkMaterial'
                , page: true
                , limit: 15
                , cols: [[
                    { hide: true }
                    ,{ field: 'ID', title: '序号', width: 70 }
                    //, { field: 'figureNumber', title: '图号',width:200 }
                    , { field: 'PartNumber', title: '物料名称', width: 200}
                    , { field: 'PartSpec', title: '物料规格', width: 200}
                    , { field: 'PartMaterial', title: '物料材质', width: 200}
                    , { field: 'ApplierProductTypeID', title: '物料类型', templet: '#Category', width: 250}
                    , { field: 'ApplierId', title: '默认供应商', templet: '#Applier', width: 250}
                    , { field: 'ContractTypeId', title: '合同种类', toolbar: '#se', width:280}
                    , { align: 'center', toolbar: '#bsarDemo', width: 200}
                ]]
                , done: function (res) {
                    for (var i = 0; i < res.data.length; i++) {
                        typeid[i] = res.data[i].ContractTypeId;
                        applierid[i] = res.data[i].ApplierId
                        MaterialType[i] = res.data[i].ApplierProductTypeID
                    }                 
                    $.get("/ApplierList/checkContrType", function (data) {
                        if (data != null) {
                            $(".typeid").empty()
                            for (var j = 0; j < typeid.length; j++) {
                                for (var i = 0; i < data.length; i++) {
                                    if (typeid[j] == data[i].id.trim()) {
                                        $(".typeid:eq(" + j + ")").append("<option value='" + data[i].id.trim() + "' selected >" + data[i].type.trim() + "</option>")
                                    } else {
                                        $(".typeid:eq(" + j + ")").append("<option value='" + data[i].id.trim() + "'>" + data[i].type.trim() + "</option>")
                                    }
                                }
                            }
                        }
                        form.render(null,'LAY-table-1');
                    })
                    $.get("/ApplierList/checkApplierName", function (data) {
                        if (data != null) {
                            $(".ApplierId").empty()
                            for (var j = 0; j < applierid.length; j++) {
                                for (var i = 0; i < data.length; i++) {
                                    if (applierid[j] == data[i].ID) {
                                        $(".ApplierId:eq(" + j + ")").append("<option value='" + data[i].ID+ "' selected >" + data[i].Name+ "</option>")
                                    } else {
                                        $(".ApplierId:eq(" + j + ")").append("<option value='" + data[i].ID + "'>" + data[i].Name+ "</option>")
                                    }
                                }
                            }
                        }
                        form.render(null, 'LAY-table-1');
                    })
                    $.get("/ApplierList/checkPurchase", function (data) {
                        if (data != null) {
                            $(".CategoryId").empty();
                            for (var j = 0; j < MaterialType.length; j++) {
                                for (var i = 0; i < data.length; i++) {
                                    if (MaterialType[j] == data[i].ID) {
                                        $(".CategoryId:eq(" + j + ")").append("<option value='" + data[i].ID+ "' selected >" + data[i].Name+ "</option>")
                                    } else {
                                        $(".CategoryId:eq(" + j + ")").append("<option value='" + data[i].ID+ "'>" + data[i].Name+ "</option>")
                                    }
                                }
                            }
                        }
                        form.render(null, 'LAY-table-1');
                    })
                }


            });
            $.get("/ApplierList/checkContrType", function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        $(".type").append("<option value='" + data[i].id.trim() + "'>" + data[i].type.trim() + "</option>")
                    }
                }
                form.render();
            });

          
            form.on('select(CategoryId)', function (data) {
                var areaId = data.value;
                
                var oin = data.othis;
                var index = $("tbody .CategoryId").index(data.elem)
                table.cache.tw[index].ApplierProductTypeID = data.value
                // layer.msg(ApplierProductTypeID);
                $.ajax({
                    type: 'POST',
                    url: '/ApplierList/Supp',
                    data: { ids: areaId },
                    dataType: 'json',
                    success: function (data) {
                        var e = oin.parent().parent().next().children().children();                        
                        e.empty();  
                        e.append("<option>请选择</option>");
                        for (var i = 0; i < data.length; i++) {
                            e.append("<option value=" + data[i].序号+">" + data[i].供应商 + "</option>");
                        }
                        if (data.length == 0) {
                            e.append("<dd>没有选项</dd>");                 
                        }
                        form.render();
                    }
                });

            });
            form.on('select(ApplierId)', function (data) {
                var index = $("tbody .ApplierId").index(data.elem)
                table.cache.tw[index].ApplierId = data.value
            });
           
            form.on('select(typeid)', function (data) {
                var index = $("tbody .typeid").index(data.elem)
                table.cache.tw[index].ContractTypeId = data.value
            });
            table.on('tool(demo)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值  
                if (layEvent === 'edit') {
                    id = data.ID;
                    apid = data.ApplierProductTypeID;
                    Applier = data.ApplierId;
                    type = data.ContractTypeId;
                    $.ajax({
                        type: 'POST',
                        url: '/ApplierList/EditMaterialInformation',
                        data: { id: id, apid: apid, Applierid: Applier, typeid: type },
                        dataType: 'json',
                        success: function (data) {
                            if (data == "true") {
                                layer.msg("修改成功！");
                                $("#check").click();
                            }
                        }
                    });
                }

            
            });

            $("#check").click(function () {
                var name = $(".Name").val().trim();
                var type = $(".type").val();
                tableIns.reload({
                    where: {
                        name:name
                        ,ContractTypeId:type
                    }
                    , page: {
                        curr: 1
                    }
                });
            })
            });
        })
    </script>
    <script type="text/html" id="bsarDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    </script>
    <script type="text/html" id="se" >
        <select class="typeid" lay-filter="typeid" ></select>
    </script>
    <script type="text/html" id="Category">
        <select class="CategoryId" lay-filter="CategoryId" lay-search=lay-search></select>
    </script>
    <script type="text/html" id="Applier">
        <select class="ApplierId"lay-filter="ApplierId"></select>
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">采购管理</a></li>
            <li><a href="#">物料信息管理</a></li>
        </ul>
    </div>
    <div class="layui-form layui-form-pane" action="">

        <div class="layui-form-item" pane>
            <div class="layui-inline" style="margin-top:5px">
                <label class="layui-form-label">物料名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="Name" class="layui-input Name">
                </div>
            </div>
            <div class="layui-inline" style="margin-top:5px">
                <label class="layui-form-label">合同类型：</label>
                <div class="layui-input-block">
                    <select class="type" lay-filter="texe"><option value="">请选择</option></select>
                </div>
            </div>
            <button class='layui-btn' id="check">查询</button>
        </div>
    </div>
    <table class="tablelist" id="tw" lay-filter="demo"></table>
</body>
</html>
