<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>友力智能管理系统</title>

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.media.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {
            $('a.media').media({ width: 1100, height: 700 });
            $('a.mediase').media({ width: 1100, height: 700 });
          
        });
        layui.use(['layer', 'form', 'laydate', 'element', 'table'], function () {
            $(document).ajaxStart(function () {
                layer.msg('加载中', {
                    icon: 16
                    , shade: 0.01
                    , time: false
                });
            });
            $(document).ajaxStop(function () {
                layer_close();
            });
        });
       

    </script>

</head>
<body style="background-color:#000;">
    <center>
        <div class="panel panel-primary">
            <div class="panel-body">
                <a class="media" href="@ViewData["pdf"]"></a>
            </div>
        </div>
    </center>
</body>
</html>