
@{
    Layout = null;


}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        $(document).keydown(function (e) {
            if (e.keyCode == 13) {
                $("#sele").click();
            }
        });
        $(function () {
            if ('@Session["name"]' == "") {
                window.top.location = '/Home/Login';
            }
            layui.use(['table', 'layer'], function () {
                var table = layui.table, layer = layui.layer;
                var tableIns =table.render({
                     elem: '#tw'
                   , url: '/FinishProductHouse/SeeFinishedProductWarehouse'
                   , page: true
                   , limit: 15
                   , cols: [[
                    { field: '', hide: true }
                   //,{ field: 'ID', width: 100, title: '序号' }
                   , { field: 'Reservoir', width: 90, title: '库区' }
                   , { field: 'CargoArea', width: 90, title: '货区' }
                   , { field: 'Goods', width: 90, title: '货位' }
                    , { field: 'Goods', width: 250, title: '产品名称' }
                   , { field: 'Type', width: 300, title: '系列',edit:'text' }
                   ]]
                    });
                $("#sele").click(function () {
                    var Reservoir = $("#Reservoir").val().trim();
                    var CargoArea = $("#CargoArea").val().trim();
                    var Goods = $("#Goods").val().trim();
                    tableIns.reload({
                        page: {
                            curr: 1
                        },
                        where: {
                            Reservoir: Reservoir
                            , CargoArea: CargoArea
                            , Goods: Goods
                        }
                    });
                });            
            });
        });
    </script>
</head>


<body onselectstart="return false;">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">成品仓</a></li>
            <li><a href="#">成品仓货位注册</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li id="addC">
                    <span>
                        <img style="margin-bottom:10px" src="../../images/t01.png" />
                    </span><a target="rightFrame">新增成品仓货位</a>
                </li>
                <li>
                    库区：
                    <input class="Reservoir" id="Reservoir" type="text" style="width: 120px;" />
                </li>
                <li>
                    货区：
                    <input class="CargoArea" id="CargoArea" type="text" style="width: 120px;" />
                </li>
                <li>
                    货位：
                    <input class="Goods" id="Goods" type="text" style="width: 120px;" />
                </li>
            </ul>
            <button class="layui-btn" data-type="reload" id="sele" usesubmitbehavior=true>搜索</button>
        </div>
        <table class="tablelist" id="tw" lay-filter="demo"></table>
    </div>
    <script type="text/javascript">
        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
    </script>
</body>

</html>
