

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <script src="../../My97DatePicker4.7.2/WdatePicker.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $("#cancle").click(function () {              
                if ('@ViewData["stu"]' == "1") {
                    window.parent.document.getElementById("rightframe").src = "/TaskManagement/PTask";
                }
                else {
                    window.parent.document.getElementById("rightframe").src = "/ProductionPlanning/PPCreaty";
                }
            });
            $("#addC").click(function () {
                $.ajax({
                    type: "POST",
                    url: '/ProductionPlanning/Queren?id='+'@TempData["not"]',
                    dataType: "text",
                    success: function (data) {
                        if (data == 'true') {
                            layer.msg('完成全部生产订单转换！');
                            window.history.go(-1);
                        }
                        else if (data == 'queshao') {
                            layer.msg('还有产品没有转生产订单哦，要先转完才可以点击呢！');
                        }
                        else if (data == 'two') {
                            layer.msg('不用在点了，已经转换成功！');
                        }
                    }
                });
            });
            layui.use('table', function () {
                var table = layui.table;
                table.render({
                    elem: '#tw'
               , url: '/ProductionPlanning/NoticeCheck?id=' + '@ViewData["ids"]'
               , page: false
               , done: function () {
                   $("tr a").hide()
                   $("tr").hover(function () {

                       $(this).children().last().children().children().toggle();
                   })


               }
              , toolbar: 'default'
               , cols: [[
                 { field: 'ContractID', width: 100, title: '合同ID' }
               , { field: 'ProductName', width: 250, title: '产品名称', sort: true }
               , {
                   field: '产品规格', width: 180, title: '产品规格',
               }
               , { field: '合同数量', width: 180, title: '合同数量', sort: true }
               , { field: '单位', title: '单位', width: 180 }
                , { field: '转生产订单', title: '生产订单状态', width: 180 }
                , { field: 'right', title:'生产订单状态操作',width: 250, align: 'center', toolbar: '#barDemo' }
               ]]

                });
                table.on('checkbox(demo)', function (obj) {
                    console.log(obj)
                });
                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case 'update':
                            Cid = data.ContractID;
                            pid = data.ID;
                            med = data.转生产订单;
                            if (med == '修改') {
                                var url = '/ProductionPlanning/PPEdit?Cid=' + Cid + '&pid=' + pid+'&inputs='+"1";
                                layer_show('修改', url, '1000', '700');
                            }
                            else
                            {
                                var url = '/ProductionPlanning/PPadd?Cid=' + Cid + '&pid=' + pid;
                                layer_show('转生产订单',url,'1000','700');
                            }
                           // window.parent.document.getElementById("rightframe").src = "/ProductionPlanning/notice?id=" + id;
                            break;

                    };
                });

            });

        })



    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" id="update" lay-event="update">操作</a>
    </script>

</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">生产计划管理</a></li>
            <li><a href="#">生产订单创建</a></li>
            <li><a href="#">销售订单转生产订单</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                <li class="click" id="cancle">
                    <span>
                        <img src="../../images/t02.png" />
                    </span>返回
                </li>
                <li id="addC">
                    <span>
                        <img style="margin-bottom:10px" src="../../images/t01.png" />
                    </span><a target="rightFrame">确认完成全部订单转换</a>
                </li>
            </ul>
        </div>

    </div>
    <table class="tablelist" id="tw" lay-filter="demo"></table>
    <script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">     
        function HDetials_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
        function HDetials_update(title, url, w, h) {
            layer_show(title, url, w, h);
        }
    </script>

</body>
</html>




