@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>友力信息管理系统</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <style>
        .layui-table-cell {
            overflow: inherit;
            height: inherit;
        }

        td:nth-child(3) {
            overflow: hidden;
        }
    </style>
    <style type="text/css">
        .layui-table-cell {
            overflow: inherit;
            height: inherit;
        }
    </style>
    <script type="text/javascript">
        layui.use(['table', 'layer'], function () {
            var table = layui.table, layer = layui.layer;
            document.getElementById("AllSerach").focus(); 
            $('.AllSerach').bind("input propertychange", function (event) {
                var pn = $("#AllSerach").val()
                $.ajax({
                    type: "get",
                    url: '/ProductionPlanning/getDrawingSrc',
                    data: { id: pn},
                    dataType: "text",
                    success: function (data) {
                        var srcs = "/pdf/" + data;
                        var url = '/TechnicalDepartment/CheckPdf?src=' + srcs;
                        var index = layer.open({
                            type: 2,
                            title: "PDF",
                            content: url,
                            maxmin: true                           
                        });
                        layer.full(index);
                    }
                });
            });
        })
    </script>
</head>
<body>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <li>
                    关键字查询：
                    <input class="AllSerach" id="AllSerach" type="text" style="width:180px;" placeholder="请输入关键字" value="128"/>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
